/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./Background1.jpg) no-repeat center center/cover;
}

* {
    margin: 0;
    padding: 0;
}

/* Container Styles */
#container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input and Button Styles */
input[type="number"], input[type="text"], button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* History Section Styles */
#history {
    margin-top: 20px;
}

#history ul {
    list-style-type: none;
    padding: 0;
}

#history ul li {
    margin-bottom: 5px;
}

/* Navigation Styles */
nav {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.208);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    padding: 10px;
}

/* Menu Button Styles */
.menuButton {
    display: none;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.menuButton div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}

/* Media Queries */
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menuButton {
        display: block;
    }

    .sidebar {
        display: flex;
    }

    nav ul {
        display: none;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    .hideOnMobile {
        display: none;
    }

    .menuButton {
        display: block;
    }
}
